<div class="well well-lg">
  <h1><%= @article.title %></h1>
  <p><%= @article.body %></p>
  <br>
  <i class="text-muted">Posted by <%= link_to @article.user.username, @article.user %> <%= time_ago_in_words(@article.created_at) %> ago</i>
  <div class="pull-right">
  <% if policy(@article).update? %>
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
    <%= link_to "Delete", @article, method: :delete, data: { confirm: "Are you sure you want to delete this article?" }, class: "btn btn-danger" %>
    <!--Grouped under one authorization check since update and delete follow same policy-->
  <% end %>
  </div>
  <p>
    <% if current_user %>
      <%= link_to " ", upvote_article_path(@article), class: "glyphicon glyphicon-thumbs-up btn-lg btn-primary", method: :put, remote: true %>
      <%= link_to " ", downvote_article_path(@article), class: "glyphicon glyphicon-thumbs-down btn-lg btn-info", method: :put, remote: true %> &nbsp;
      <%= content_tag :span, id: "article-#{@article.id}-vote-count" do %>
        <%= @article.cached_votes_score %>
      <% end %>
    <% else %>
      <!--This action removes remote: true so that non-logged-in-user may be properly redirected to sign in-->
      <%= link_to " ", upvote_article_path(@article), class: "glyphicon glyphicon-thumbs-up btn-lg btn-primary", method: :put %>
      <%= link_to " ", downvote_article_path(@article), class: "glyphicon glyphicon-thumbs-down btn-lg btn-info", method: :put %> &nbsp;
      <%= content_tag :span, id: "article-#{@article.id}-vote-count" do %>
        <%= @article.cached_votes_score %>
      <% end %>
    <% end %>
  </p>
</div>

<div class="row">
  <div class="col-sm-6">
    <%= render @comments %>
  </div>
  <div class="col-sm-6">
    <% if current_user %>
      <%= render partial: 'comments/form', locals: { article: @article, comment: @article.comments.new } %>
    <% else %>
      <p class="well well-sm"> Please <%= link_to "log in", new_user_session_path %> to start commenting!</p>
    <% end %>
  </div>
</div>









