<div class="well well-lg">
  <h1><%= @article.title %></h1>
  <p><%= @article.body %></p>
  <br>
  <i class="text-muted">Posted by <%= link_to @article.user.username, "#" %> <%= time_ago_in_words(@article.created_at) %> ago</i>
  <div class="pull-right">
  <% if policy(@article).update? %>
    <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary" %>
    <%= link_to "Delete", @article, method: :delete, data: { confirm: "Are you sure you want to delete this article?" }, class: "btn btn-danger" %>
    <!--Grouped under one authorization check since update and delete follow same policy-->
  <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <%= render @comments %>
  </div>
  <div class="col-sm-6">
    <% if current_user %>
      <%= render partial: 'comments/form', locals: { article: @article, comment: @article.comments.new } %>
    <% else %>
      <p class="well well-sm"> Please <%= link_to "log in", new_user_session_path %> to start commenting!</p>
    <% end %>
  </div>
</div>









