<!DOCTYPE html>
<html>
<head>
  <title>The Sports Review</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      
      <div class="navbar-header">
        <strong>
          <%= link_to root_path, class: "navbar-brand" do %>
            The Sports Review <span class="glyphicon glyphicon-comment"> </span>
          <% end %>
        </strong>
      </div>
      
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
            <span class="glyphicon glyphicon-list-alt"> </span> Articles <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Top Articles", articles_path %></li>
            <li><%= link_to "Trending", trend_index_articles_path %></li>
            <li><%= link_to "Newest", newest_index_articles_path %></li>
            <% if current_user %>
              <li><%= link_to "Followed Writers", feed_index_articles_path %></li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= link_to new_article_path do %>
            <span class="glyphicon glyphicon-pencil"> </span> Contribute
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
            <span class="glyphicon glyphicon-flash"> </span> Leaderboard
          <% end %>
        </li>
        <li>
          <%= link_to "#about", data: {toggle: "collapse"}  do %>
            <span class="glyphicon glyphicon-question-sign"> </span> About TSR
          <% end %>
        </li>
      </ul>
            
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <%= link_to edit_user_registration_path do %>
              <%= image_tag(current_user.avatar.tiny.url, size: "20x20") if current_user.avatar? %>&nbsp; <%= current_user.username %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="glyphicon glyphicon-log-out"> </span> Log Out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <span class="glyphicon glyphicon-log-in"> </span> Login
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <span class="glyphicon glyphicon-user"> </span> Sign Up
            <% end %>
          </li>
        <% end %>
      </ul>
            
    </div>
        
  </nav>  
  
  
  <div class="container top-padding">
    
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <div id="about" class="collapse">
      <div class="alert alert-info">
      A Twitter/Quora of sorts for sports fans: It's a place where fans can come 
      together and debate, prognosticate, speculate, release breaking news, or have 
      educated discussions about issues and trends in sports. Its a place where fans 
      can become the sports writers. Budding sports writers themselves can build a 
      following here without the need for major networks or publications to provide a 
      platform, further granting them the ability to build a resume, portfolio, and 
      career. Bringing writers and readers together, fans can easily discover new content,
      discover and follow their favorite writers, and have a daily feed of new additions 
      from their followed writers. It's everyone's individual sports blog blended together 
      in one convenient platform. So hit that "Contribute" button and start getting your 
      Adam Schefter on!
      </div>
      <hr>
    </div>
    
    <%= yield %>
  
  </div>
</body>
</html>
